<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Search</title>
    <link rel="icon" type="image/png"
          href="https://lwg-res.cloudinary.com/image/upload/f_auto,t_img-trans,w_16/v1504690230/favicon.png"
          sizes="16x16">
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"> </script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"> </script>
</head>
<script th:src="@{/myScript.js}"></script>
<body>
<div class="logo">
    <img width="150"
         src="https://res.cloudinary.com/lwg/image/upload/c_scale,w_150/v1/mail/static2/Lensway_logo_white.png">
</div>
<div class="page-title">Product List
    <div style="float: right;">
        <form action="#" th:action="@{/product/search}" method="get" autocomplete="off">
            <input id="searchBox" name="searchText" type="text" th:value="*{searchText}"/><input type="submit" value="Search"/>
        </form>
    </div>
    <br/>
</div>
<div class="sidenav">
    <b>Breakdown</b>
    <ul th:each="aggr : ${searchResult.aggregations}">
        <li><b th:utext="${aggr.name}">Name</b>
            <ul th:each="bucket : ${aggr.buckets}">
                <li><a th:with="filterUrl=(${@productSearchWebController.filterUrl(aggr.field, bucket.value)})"
                       th:href="@{${filterUrl}}">
                        <span th:utext="${bucket.value}+' ('+(${bucket.count})+')'"></span>
                        <b th:text="${@productSearchWebController.isFilterSelected(aggr.field, bucket.value)} ?'*':''"></b>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div align="left" th:if="${searchResult != null}"
     th:text="'Number of hits: '+(${searchResult != null} ? ${searchResult.hits.size()} :'0')"/>
<div align="left" th:if="${searchResult != null}"
     th:text="'Search time: '+((${searchResult != null} ? ${searchResult.took} : '-1'))+' ms'"/>
<div align="left" style="font-size: small;">Active filters:
    <span th:each="filter : ${filters}">
        <!--<span th:utext="${filter.key}+', '"></span>-->
        <span th:text="${@productSearchWebController.getFilterName(filter.key, searchResult.aggregations)}+'='+${filter.value}+', '"></span>
    </span><a th:href="@{${@productSearchWebController.clearUrl()}}">Clear All</a>
</div>
<div class="product-preview-container" th:each="product : ${searchResult?.hits}">
    <ul>
        <li><img class="product-image"
                 th:src="@{https://{image}(image=${product.listImageUrl})}"/></li>
        <li><b>Brand: <span th:utext="${product.brand}"></span></b></li>
        <li>Name: <span th:utext="${product.productName}"></span></li>
        <li>Brand Family: <span th:utext="${product.brandFamilyName}"></span></li>
        <li>Type: <span th:utext="${product.i18nType}"></span></li>
        <li>Usage-Type: <span th:utext="${product.usageTypes}"></span></li>
        <li>Sub-Type: <span th:utext="${product.subTypes}"></span></li>
        <li>Price: <span th:utext="${#numbers.formatDecimal(product.price,3,2,'COMMA')}"></span></li>
        <li>Colors: <span th:utext="${product.colors}"></span></li>
        <li>
            <a th:href="@{|/product/view?id=${product.id}&searchText=${searchText}|}">Details</a>
        </li>
    </ul>
</div>
</body>
</html>