<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product View</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

<div class="customer-info-container">
    <h3>Product Details: <a style="float: right;" th:href="@{|/product/search?searchText=${searchText}|}">Back</a></h3>
    <ul class="details">
        <li><b>ID:</b> <span th:utext="${product.id}"></span><img class="product-image" style="float: right;"
                                                                  th:src="@{https://{image}(image=${product.listImageUrl})}"/>
        </li>
        <li><b>Brand:</b> <span th:utext="${product.brand}"></span></li>
        <li><b>Name:</b> <span th:utext="${product.productName}"></span></li>
        <li><b>Brand Family:</b> <span th:utext="${product.brandFamilyName}"></span></li>
        <li><b>Type:</b> <span th:utext="${product.type}"></span></li>
        <li><b>I18n Type:</b> <span th:utext="${product.i18nType}"></span></li>
        <li><b>Usage-Type:</b> <span th:utext="${product.usageTypes}"></span></li>
        <li><b>Sub-Type:</b> <span th:utext="${product.subTypes}"></span></li>
        <li><b>Price:</b> <span th:utext="${product.price}"></span></li>
        <li><b>Colors:</b> <span th:utext="${product.colors}"></span></li>
        <li><b>Properties:</b>
            <ul th:each="prop : ${product.propertyMap}">
                <li><b>Name:</b> <span th:utext="${prop.key}"></span> <br/><b>Value:</b> <span
                        th:utext="${prop.value}"></span></li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>